<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('forms/head'); -%>
  </head>
  <body>
    <header>
      <%- include('forms/header'); -%>
    </header>
    <h2>회원 조회</h2>
    <form id="userSearchForm">
      <label for="">ID : </label>
      <input type="text" name="id" size="20" maxlength="20"><br>
      <label for="">이름 : </label>
      <input type="text" name="name" size="20" maxlength="20"><br>
      <label for="">전화번호 : </label>
      <input type="text" name="phone" size="11" maxlength="11"><br>
      <label for="">이메일 : </label>
      <input type="email" name="email" size="30" maxlength="30"><br><br>
      <br>
      <input type="button" id="searchButton" value="조회" onclick="searchUser();">
      <input type="button" id="searchButton" value="버스 추가" onclick="window.location.href='/bus/BusAdd'">
      <br><br>
    </form>
    <div id="userTable"></div>
    <footer>
      <%- include('forms/footer'); -%>
    </footer>
    <% if (message) {  %>
      <script type="text/javascript">
        alert("<%= message %>");
        window.location.href = "/"
      </script>
    <% } %>
  </body>
</html>
