<!DOCTYPE html>
<html lang="ko" dir="ltr">
<head>
    <%- include('forms/head'); -%>
</head>
<body>
<header>
    <%- include('forms/header'); -%>
</header><br>
<label for="date">날짜 : </label>
<input type="date" size="6" maxlength="6"><br>
<label for="departure">출발지 : </label>
<input type="text" size="20" maxlength="20"><br>
<label for="arrival">도착지 : </label>
<input type="text" value="" size="20" maxlength="20"><br>
<br>
<input type="button" value="조회">
<input type="button" value="취소">
<br><br>
<input type="button" value="로그인">
<footer>
    <%- include('forms/footer'); -%>
</footer>
</body>
</html>
