<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>busAssignment</title> 
    </head>
    <body>
        <header>
            <h3>차량 배정</h3>
        </header>
        <label for="">날짜 : </label>
        <input type="text"><br>
        <label for="">출발지 : </label>
        <input type="text"><br>
        <label for="">도착지 : </label>
        <input type="text"><br>
        <label for="">출발 시각 : </label>
        <input type="text"><br>
        <label for="">도착 시각 : </label>
        <input type="text"><br><br>
        <input type="button" value="차량 배정">
        <input type="button" value="취소">
    </body>
</html>