
<table id="busList">
    <tr><!--
    <% /*for (var key in buslist[0]) { %>
        <% if (key === 'bus_code') continue; %>
        <th><%= key %></th>
    <% } */%>-->
        <th>날짜</th><th>출발지</th> <th>도착지</th> <th>출발시각</th> <th>도착시각</th> <th>가격</th> <th>빈좌석</th>
    </tr>
    <% for (var idx in buslist) { %>
    <tr>
        <% for (var key in buslist[0])  { %>
            <% if (key === 'bus_code') { %>
                <% //bus_codes.push(buslist[idx]['bus_code']); %>
            <% } else { %>
        <td><%= buslist[idx][key] %></td>
            <% } %>
        <% } %>
        <td><input type="button" name="reservation" value="예매"
                   onclick="location.href = location.origin + '/bus/detail'+'?bus_code='+'<%= buslist[idx]['bus_code'] %>'"
                   id="button_<%= idx %>"></td>
    </tr>
    <% } %>
</table>
