<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('forms/head'); -%>
  </head>
  <body>
    <header>
      <%- include('forms/header'); -%>
    </header><br>
    <h2>버스 조회</h2>
    <form id="busSearchForm">
      <label for="date">날짜 : </label>
      <input type="text" id="date" name="date" value=""> format: YYMMDD ex) 191214<br>
      <label for="dptloc">출발지 : </label>
      <input type="text" id="dptloc" name="dptloc" value=""> 서울 대구 대전 부산 공주 하남<br>
      <label for="arvloc">도착지 : </label>
      <input type="text" id="arvloc" name="arvloc" value=""> 서울 대구 대전 부산 공주 하남<br>
      <br>
      <input type="button" id="searchButton" value="조회" onclick="searchBus();">
      <br><br>
    </form>
    <div id="busTable"></div>
    <footer>
      <%- include('forms/footer'); -%>
    </footer>
  </body>
  <% if (message) {  %>
  <script type="text/javascript">
    alert("<%= message %>");
    window.location.href = "/"
  </script>
  <% } %>
</html>
