<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>firstUI</title>
  </head>
  <body>
    <header>
      <h1>6조 좌석 예매 프로그램</h1>
    </header><br>
    <label for="date">날짜 : </label>
    <input type="text" value=""><br>
    <label for="departure">출발지 : </label>
    <input type="text" value=""><br>
    <label for="arrival">도착지 : </label>
    <input type="text" value=""><br>
    <br>
    <input type="button" value="조회">
    <input type="button" value="취소">
    <br><br>
    <input type="button" value="로그인">
    <input type="button" value="회원가입">
  </body>
</html>
