<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>firstUI</title>
  </head>
  <body>
    <header>
      <h1>6조 좌석 예매 프로그램</h1>
    </header><br>
    <label for="date">날짜 : </label>
    <input type="text" id="date" name="date" value=""><br>
    <label for="dptloc">출발지 : </label>
    <input type="text" id="dptloc" name="dptloc" value=""><br>
    <label for="arvloc">도착지 : </label>
    <input type="text" id="arvloc" name="arvloc" value=""><br>
    <br>
    <input type="button" id="searchButton" value="조회">
    <input type="button" value="취소">
    <br><br>
    <input type="button" value="로그인">
    <input type="button" value="회원가입">
  </body>
  <script type="text/javascript" src="/scripts/busList.js"></script>
</html>
