<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('forms/head'); -%>
  </head>
  <body>
    <header>
      <%- include('forms/header'); -%>
    </header><br><!-- 출발시각 도착시각 좌석수 좌석번호 금액 -->
    <div id="seatTable"></div>

    <footer>
      <%- include('forms/footer'); -%>
    </footer>
  </body>
</html>
