<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <%- include('forms/head'); -%>
    </head>
    <body>
        <header>
            <%- include('forms/head'); -%>
        </header>
        <h3>회원 가입</h3>
        <div id="signupMessage"><%= signupMessage %></div>
        <label for="">ID : </label>
        <input type="text"><br>
        <label for="">PW : </label>
        <input type="text"><br>
        <label for="">이름 : </label>
        <input type="text"><br>
        <label for="">전화번호 : </label>
        <input type="text"><br>
        <label for="">생년월일 : </label>
        <input type="text"><br>
        <label for="">주소 : </label>
        <input type="text"><br><br>
        <input type="button" value="회원 가입">
        <input type="button" value="취소">
        <footer>
            <%- include('forms/footer'); -%>
        </footer>
    </body>
</html>