<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <%- include('forms/head'); -%>
    </head>
    <body>
        <header>
            <%- include('forms/head'); -%>
        </header>
        <h3>회원 가입</h3>
        <div id="signupMessage"><%= signupMessage %></div>
        <form action="/member/signUp">
            <label for="">ID : </label>
            <input type="text" name="id" maxlength="20" required><br>
            <label for="">PW : </label>
            <input type="password"name="pw" maxlength="20" required><br>
            <label for="">이름 : </label>
            <input type="text" name="name" maxlength="20" required><br>
            <label for="">전화번호 : </label>
            <input type="text" name="phone" pattern="010[0-9]{8}"size="11" minlength="11" maxlength="11" title="010########" required> 010########<br>
            <label for="">이메일 : </label>
            <input type="email" name="email" maxlength="30" required><br><br>
            <input type="submit" value="회원 가입">
            <input type="button" value="취소" onclick="window.location.href='/'">
        </form>
        <footer>
            <%- include('forms/footer'); -%>
        </footer>
    </body>
</html>