<!DOCTYPE html>
<html lang="ko" dir="ltr">
<head>
    <%- include('forms/head'); -%>
</head>
<body>
<header>
    <%- include('forms/header'); -%>
</header><br>
<div id="loginMessage"><%= loginMessage %></div>
<label for="date">ID : </label>
<input type="text" name="id" value=""><br>
<label for="departure">PW : </label>
<input type="text" name="pw" value=""><br>
<br>
<input type="button" value="로그인">
<footer>
    <%- include('forms/footer'); -%>
</footer>
</body>
</html>
