<h1>6조 좌석 예매 프로그램</h1>
<% if(!user_id){ %>
<a href="/member/signIn">로그인</a>
<a href="/member/signUp">회원 가입</a>
<% } else{ %>
<%= user_id %>
<a href="/member/signOut">로그아웃</a>
<a href="/reservation/searchlist">예매 내역</a>
<% } %>